<ion-content [fullscreen]="true">

  <ion-toolbar color="secondary" class="ion-text-center" >
    <ion-title>About the Owner</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img src="assets/icon/lebron.jpg" />
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="footsteps" color="danger"></ion-icon>
        <ion-label>
          800
          <p>Pairs sold</p>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="diamond" color="danger"></ion-icon>
        <ion-label>
          1000
          <p>Pairs Available</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-list  lines="full"   >
    <ion-item color="secondary">
      <ion-label>
        <ion-text>Name</ion-text>
        <p><ion-text color="dark">McVince Paul Dela Cruz</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label>
        <ion-text>Phone Number</ion-text>
        <p><ion-text color="dark">09090909090</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label>
        <ion-text>Email</ion-text>
        <p><ion-text color="dark">mvpdelacruz@gmail.com</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label>
        <ion-text>Age</ion-text>
        <p><ion-text color="dark">21 Years</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label>
        <ion-text>Address</ion-text>
        <p><ion-text color="dark">Philippines, Sta. Rosa, Laguna</ion-text></p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>