<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>The Holy Grails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--images-->
  <div class="homeImages">
      <img src="https://images.complex.com/complex/images/c_crop,h_1080,w_1920,x_0,y_0/c_fill,dpr_auto,f_auto,q_auto,w_1400/fl_lossy,pg_1/rwkvad26z21nnxccbxp1/best-sneakers-of-2022-so-far-lead?fimg-ssr" />
  </div>

  <!--Songs content-->
  <ion-card>
      <ion-card-header>
          <ion-card-title class="ion-text-center" color="danger">THE BEST OF THE BEST</ion-card-title>
      </ion-card-header>
  </ion-card>

  <ion-card >
      <img src="https://images.complex.com/complex/images/c_crop,h_810,w_1440,x_0,y_0/c_fill,dpr_auto,f_auto,q_auto,w_1400/fl_lossy,pg_1/tezc9hvh9svszjzxebxb/louis-vuitton-nike-air-force-1-low-best-sneakers-of-2022-so-far?fimg-client" />
      <ion-card-header>
          <ion-card-title>Louis Vuitton x Nike Air Force 1 Low</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          TOP 1
      </ion-card-content>
      <ion-button fill="clear">
        <ion-icon slot="start" name="flame"></ion-icon></ion-button>

  </ion-card>

  <ion-card>
      <img src="https://images.complex.com/complex/images/c_crop,h_810,w_1440,x_0,y_0/c_fill,dpr_auto,f_auto,q_auto,w_1400/fl_lossy,pg_1/lzmv7jqcwfzesk1furmo/union-nike-dunk-low-pistachio-best-sneakers-of-2022-so-far?fimg-client" />
      <ion-card-header>
          <ion-card-title>Union x Nike Dunk Low</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          TOP 2
      </ion-card-content>

      <ion-button fill="clear">
        <ion-icon slot="start" name="flame"></ion-icon></ion-button>
  </ion-card>

  <ion-card>
      <img src="https://images.complex.com/complex/images/c_crop,h_810,w_1440,x_0,y_0/c_fill,dpr_auto,f_auto,q_auto,w_1400/fl_lossy,pg_1/ggt2zkshjjqrxyilrnkf/air-jordan-1-high-georgetown-best-sneakers-of-2022-so-far?fimg-client" />
      <ion-card-header>
          <ion-card-title>Air Jordan 1 High ’85 ‘Georgetown’
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          TOP 3
      </ion-card-content>
      <ion-button fill="clear">
        <ion-icon slot="start" name="flame"></ion-icon></ion-button>
  </ion-card>

  <ion-card>
      <img src="https://images.complex.com/complex/images/c_crop,h_810,w_1440,x_0,y_0/c_fill,dpr_auto,f_auto,q_auto,w_1400/fl_lossy,pg_1/puoppsyygcnsuk6ivq1w/nike-kobe-6-protro-mambacita-best-sneakers-of-2022-so-far?fimg-client" />
      <ion-card-header>
          <ion-card-title>Nike Kobe 6 Protro ‘Mambacita Sweet 16’</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          TOP 4
      </ion-card-content>
      <ion-button fill="clear">
        <ion-icon slot="start" name="flame"></ion-icon></ion-button>
  </ion-card>

  <ion-card>
      <img src="https://images.complex.com/complex/images/c_crop,h_810,w_1438,x_0,y_0/c_fill,dpr_auto,f_auto,q_auto,w_1400/fl_lossy,pg_1/tmoqk0s87im9h1uimspg/union-air-jordan-2-best-sneakers-of-2022-so-far?fimg-client" />
      <ion-card-header>
          <ion-card-title>Union x Air Jordan 2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          TOP 5
      </ion-card-content>
      <ion-button fill="clear">
          <ion-icon slot="start" name="flame"></ion-icon></ion-button>
  </ion-card>








</ion-content>