<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Best Shoe in the Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--images-->

  <ion-card class="ion-no-padding">
    <ion-card-header class="ion-no-padding">
      <ion-img  src="https://i.pinimg.com/564x/27/b5/c9/27b5c99e411c8346a8c1a9d2b51f4b25.jpg"></ion-img>
    </ion-card-header>
  </ion-card>

  <!--Forum content-->
  <ion-card>
      <ion-card-header>
          <ion-card-title color="danger" class="ion-text-center">Shoe Collection</ion-card-title>
      </ion-card-header>
  </ion-card>


  <ion-card color="secondary">
      <img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2022%2F06%2Fbest-sneakers-2022-editors-picks-3.jpg?q=90&w=1090&cbr=1&fit=max" />
      <ion-card-header>
          <ion-card-title>Nike Air Max BW “Cream”</ion-card-title>
          <ion-card-subtitle>That shiny air unit really shows the shoe’s comfort, especially when walking through the streets of NYC. I hope Nike continues to push out more colorways of the BW in 2022.

          </ion-card-subtitle>
      </ion-card-header>

  </ion-card>

  <ion-card color="secondary">
      <img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2022%2F06%2Fbest-sneakers-2022-editors-picks-1.jpg?q=90&w=1090&cbr=1&fit=max" />
      <ion-card-header>
          <ion-card-title>Nike SB Dunk Low “Phillies”</ion-card-title>
          <ion-card-subtitle>There are a number of native Philadelphians in the HYPEBEAST office, and as anyone from the City of Brotherly Love can attest, we wear our heart and our cheesesteaks on our sleeves (and apparently on our tongues too). When I saw that Nike was releasing the Nike SB Dunk Low “Phillies” to skate shops, I realized this was the pair for me.
          </ion-card-subtitle>
      </ion-card-header>
  </ion-card>

  <ion-card color="secondary">
      <img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2022%2F06%2Fbest-sneakers-2022-editors-picks-10.jpg?q=90&w=1090&cbr=1&fit=max" />
      <ion-card-header>
          <ion-card-title>Air Jordan 4 “Military Black”</ion-card-title>
          <ion-card-subtitle>Artist, engineer, musician, mathematician — Leonardo da Vinci was a man of many trades. Amongst his teachings, the Renaissance man once professed that “simplicity is the ultimate sophistication.” Though rooted in the past, those words can easily apply to the Air Jordan 4 “Military Black.” A subtle refresh to the “Military Blue” colorway from 1989, the Tinker Hatfield-designed silhouette comes in a year of highly anticipated retros. This Jordan release, however, may easily go down as sneaker of the year.

          </ion-card-subtitle>
      </ion-card-header>
  </ion-card>

</ion-content>