<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shoeper Shoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <ion-card color="secondary">
    <img src="https://i.pinimg.com/564x/df/54/82/df5482f807faab5d000824f80fb7bec2.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Shoeper Shoes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      Shoeper Shoes keeps you grounded with cutting edge sneakers technology. We’re a website and online store that specializes in sneakers, offering a wide variety of both designer and non-designer sneakers at affordable prices. Our collection is constantly updated with the latest trends, so you can always find the perfect pair of sneakers to fit your mood and outfit. Whether you’re looking for a new heel to give your outfit a boost or need some new sneakers to work out in, we’ve got you covered. Visit us today and experience the newest and greatest in footwear innovation!
    </ion-card-content>
  </ion-card>

</ion-content>
